body{
    background-image: url("https://www2.d125.org/applied_arts/teched/courses/WEB/portfolios/2014_FallP8/Rami_Portfolio_Period8/unit4_css/project_1folder/cssProject1/background.jpg");

}

div{
background-color:#444444;
width:1000px;
margin:auto;
padding:20px;
border-radius:20px;
}

p{
color:whitesmoke;
font-size:50px;
text-align:center;
text-transform:uppercase;
margin:0px;
}
img{
margin-top:20px;
margin-left:20px;
opacity:0.5;
border-radius:20px;
}
img:hover{
opacity:1;
}
